.back{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3{
  font-family: monospace;
  font-weight: 600;
  font-size: 15px;
}

.cart-container{
  width: 20%;
  padding: 20px;
  height: 30rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image{
  background-image: url("https://m.media-amazon.com/images/I/61x3iON8kNL._AC_UL480_FMwebp_QL65_.jpg");
  width: 100%;
  height: 100%;
  background-size: cover; 
  background-position: center;
  border-radius: 10px;
  cursor: pointer;
  transition: all 1s ease;
}

.image:hover{
  background-image: url("https://m.media-amazon.com/images/I/81ehCmYh+aL._AC_UL480_FMwebp_QL65_.jpg");
  transition: all 1s ease;
}

select{
  width: 100%;
  height: auto;
  padding: 10px;
  font-size: 15px;
  box-sizing: border-box;
  border: solid 1px #0f0f0f;
  border-radius: 10px;
  font-size: 1em;
}

button{
  padding: 15px 0px 15px 0px ;
  width: 100%;
  margin: 10px 0px 10px 0px;
  background-color: white;
  border: solid 1px #0f0f0f;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  background-size: 100%;
  overflow: hidden;
}


button span {
  z-index: 2;
  position: relative;
  color: black;
  font-family: monospace;
  font-size: 15px;
  line-height: 10px;
  font-weight: 700;
  letter-spacing: 1px;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d6b79f; /* Set the initial background color */
  z-index: 1;
  transition: transform 0.5s ease-in; /* Smooth transition for the background color change */
  transform: scale(0);
  transform-origin: right;
}


button:hover::before {
  transform-origin: left;
  transform: scale(1);
  transition: transform 0.5s ease-in;
  /* right: 100%; */
}
 


